<div class="demo-container">
<div ng-click="load()">click me to load the items</div>

    <h2>Multi gridster</h2>
    <p>Group 1</p>
    <div class="border">
	    <div gridster="multiGridsterOpts" multi-gridster data-model="multiItems1.id">
	         <ul>
	           <li data-on-new-grid="onNewGrid(parentModel, dataModel)"
	            gridster-item="item"
	            ng-repeat="item in multiItems1.items"
	            data-floating-gridster-item data-model="{{item.id}}">
	            	<p>id: {{item.id}}</p>
	            </li>
	        </ul>
	    </div>
    </div>
    <p>Group 2</p>
    <div class="border">
	    <div gridster="multiGridsterOpts" multi-gridster data-model="multiItems2.id">
	        <ul>
	            <li data-on-new-grid="onNewGrid(parentModel, dataModel)"
	            gridster-item="item"
	            ng-repeat="item in multiItems2.items"
	            data-floating-gridster-item data-model="{{item.id}}">
	            	<p>id: {{item.id}}</p>
	            </li>
	        </ul>
	    </div>
    </div>
</div>
